 .wrap {
 	width: 100%;
 	height: auto;
 }
 .img  {
 	width: 49%;
 	float: left;
 }
 .img1 {
 	 margin: 30px; 
 	float: left;
 	width: 40%;
 	border: 1px solid rgba(255,255,0,0);
 }
 .img2 { 
  margin: 30px;
  width: 40%;
 	float: right;
 	border: 1px solid rgba(255,255,0,0);
 }

 .img1:hover {
  background: orange;
  border: 1px solid   #999900!important;
 }
 .img2:hover {
   background: orange;
   border: 1px solid   #999900!important;
 }

 #titles:after {
 
background-image: none;
pointer-events: none;
}