 
@font-face {
  font-family: Starjout;
  src: url("../fonts/Starjedi.ttf");
 }

body{
      background: url('../img/spaceSmall-ivanCopy.png') repeat; 
}

a{
    text-decoration: none;
}
footer.footer-general {
    width: 100%;
    min-height: 100px;
    overflow: auto;
    margin-top: 500px;

}
.footer-wrap{
    max-width: 1300px;
    margin: 0 auto;
    min-height: 200px;
    overflow: auto;
    background: rgba(255,255,255, 0.3);


}
.footer-wrap>section {
    float: left;

    width: 25%;
}
.footer-bottom {
    width: 100%;
    float: left;

}
.footer-bottom h2, span {
       color: #999900;
     font-family: Starjout;
     padding-left: 10px;
}
footer section ul li a,h2{
    color: #999900;
     font-family: Starjout;
     

}
footer section ul li  {
   border: 1px solid rgba(255,255,255, 0 );
}
footer section ul li:hover {
     border: 1px solid #999900;
}
footer section ul {
     list-style: none;
}

.login ul li  {
    margin: 10px;
    padding-left: 2px;
    text-align: center;
    width: 80%;
    border: 2px solid  #999900;
}
.login ul:first-child  {
  margin-top: 80px;
}












  /*
.footer-wrapper {
    background-image:url("../img/spaceSmall.png");
}

ul li a {
    text-decoration:none;
    font-family: sans-serif;
    color: #999900;
}

.footer-actions > a {
    text-decoration:none;
    font-family: sans-serif;
    color: #999900;
}

.footer-column4 > h2, .footer-column4 > span {
    text-decoration:none;
    font-family: sans-serif;
    color: #999900;
}

ul > li {
    list-style: none;
}

h2 {
    text-decoration:none;
    font-family: sans-serif;
    color: #999900;
}

.footer-actions, .footer-column1, .footer-column2, .footer-column3 {
    display: inline-block;
    width: 240px;
    vertical-align: top;
    padding-left: 10px;
    padding-left: 0;
}

.footer-actions {
    padding-top: 50px;
    width: 250px;
}

.footer-actions > ul > li > a {
    font-weight: bold;
    font-size: 14pt;
}




