@media (max-width: 505px) {
	 
	.content {
		font-size: 0.6em;
	}
	.content p {
		padding: 10px!important;
	}
		 
}


/*HEADER COPI FROM HEADER.CSS 
=====================================*/ 
@font-face {
  font-family: Starjout;
  src: url("../fonts/Starjedi.ttf");
 }
  
.through {
	text-decoration:line-through;
	 
} 
body {
	background:url("../img/spaceMini-ivanCopy.png");
}
.header-wrap {
	max-width: 1300px;
	margin: 0 auto;
}
header {
	margin: 0 auto;
	position: relative;
}
 .navbar {
 	background: none;
 	min-height: 130px;
 	margin-bottom: 0;
 	border: 0;

 }
 .navbar-header>a>img {
 	max-width: 320px;

 }
 .navbar-collapse{
 	margin-top: 110px;
 }

 
 @media (max-width: 435px) {
	 
	.navbar-header>a>img {
		max-width: 220px;
		margin-top: 20px;

	}
		 
}
 
.navbar-default .navbar-nav > li > a {
background: rgba(255,255,0,0.3);
border-radius: 7px; 
margin-right: 20px;
}
.navbar-toggle{
	background: rgba(255,255,0,0);
	margin-top:60px;
	margin-right: 20px;
}
.navbar-collapse >ul>li  {
	border: 1px solid  rgba(255,255,0,0 )!important;
	border-radius: 7px;
	padding: 2px auto;
	margin-right: 20px;
}
.navbar-collapse >ul>li:hover  {
	border: 1px solid   #999900!important;
 
}
.navbar-collapse >ul>li>a {
	font-family: Starjout; 
	color:black!important;
	width: 100%;
}
 .navbar-collapse >ul>li>a:hover {
	 color:#999900!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #e7e7e7;
	border-radius: 7px; 
 }

@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: white;
		background:   rgba(0,0,0,0.7 )!important;
	
	}
}
 
 
 

/*CONTENT.HTML 
=====================================*/
@font-face {
  font-family: Starjout;
  src: url("../fonts/Starjedi.ttf");
 }
  

body {
	background:url("../img/spaceMini-ivanCopy.png");
	background-attachment: fixed;
	line-height: 1.42857143; */
}
 
a{
	text-decoration: none;
}
.wrap {
	border-top: 1px solid rgb(255,255,0);
	max-width: 1300px;
	min-height: 200px;
	margin: 20px auto;
	padding: 10px;
	position: relative;
	padding-top: 50px;
	overflow: auto;
	 
}
.aside-left {
	min-height: 100px; 
	width: 20%;
	 float: left;
	 margin: 0 10px;

}
.content {
	min-height: 100px;
	
	width: 70%;
	margin:  0 10px;
	float: left;
}
.content>article>header>h3 {

	border-radius: 20px; 
}
.content>article img {
	width: 70%;
	margin: 0 auto;
	display: block;
}

.content p  { 
	color: white;
	padding: 70px;
	padding-bottom: 20px;
	font-family: Starjout; 
	color: #999900;
	 
}
.content h3  {
	color: white;
	padding: 20px;
	padding-bottom: 20px;
	font-family: Starjout; 
	color: #999900;
	margin-top: 0;
	text-align: center;
	 
}


.subMenu {
	background: rgba(255,255,0,0.3);
	height: auto;
	width: 100%;
	border-radius: 20px; 
}

.subMenu > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.subMenu > ul > li {
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 10px 20px; 
}

.subMenu > ul:first-child {
 	padding-top:  20px;
}

.subMenu > ul:last-child {
 	padding-bottom:  20px;
}

.subMenu > ul > li> a {
	font-family: Starjout; 
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: black;
}

 .subMenu > ul > li:hover {
	background: rgba(255,255,0,0.6);
}
.content > img {
	width: 200px;
	height: 200px;
	float: right;
	padding: 30px;

}
@media (max-width: 860px){
.subMenu > ul > li {
	display: inline-block;
}

.aside-left {
	min-height: 100px; 
	width: 100%;
	 float: left;
	 margin: 0 auto;

}
.content {
	width: 100%;
	margin: 10px auto;
}
}



/*FOOTER  
=====================================*/


 
footer.footer-general {
    width: 100%;
    min-height: 100px;
    overflow: auto; 

}
.footer-wrap{
    max-width: 1300px;
    margin: 0 auto;
    min-height: 200px;
    overflow: auto; 


}
.footer-wrap>section {
    float: left;

    width: 25%;
}
.footer-wrap>section>h2 {
    padding-top: 10px;
}
.footer-bottom {
    width: 100%;
    float: left; 

}
.footer-bottom>h2,.footer-bottom>p {
       color: #999900;
     font-family: Starjout;
    	padding: 5px;
     padding-left: 10px;
}

footer section ul li a,h2{
    color: #999900;
     font-family: Starjout;
     

}
footer section>ul>li  {
   border: 1px solid rgba(255,255,255, 0 );
}
footer section ul li:hover {
     border: 1px solid #999900;

}
footer section ul li a:hover {
     color: white;
    
}
footer section ul {
     list-style: none;
}

.login ul li  {
    margin: 10px;
    padding-left: 2px;
    text-align: center;
    width: 80%;
    border: 2px solid  #999900;
}
.login ul li:hover  {
    
    border: 2px solid  #999900;
}
.login ul:first-child  {
  margin-top: 80px;
}

@media (max-width: 700px) {
	 .footer-wrap>section {
    float: left;
    padding: 10px;
    width: 100%;
}
	 
		 
}

/*WORK 
=====================================*/


article.work {
	background: rgba(255,255,255, 0.3);

	border-radius: 20px; 
}
article.work>p {
	padding-top: 5px;
}
article.work>h2 {
	border-bottom: 2px solid #999900;;
}


/*about us 
=====================================*/

.about-us{

	background: rgba(255,255,255, 0.3);

	border-radius: 20px; 
}
.about-us>p {
	padding-top: 5px;
}