html {
    background: url(ws_Taj_Mahal_India_1920x1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    text-align: left;
    font-size: 300%;
    position: absolute;
    left: 5%;
    top: 5%;
}