


/*HEADER COPI FROM HEADER.CSS 
=====================================*/ 
@font-face {
  font-family: Starjout;
  src: url("../fonts/Starjedi.ttf");
 }
  

body {
	background:url("../img/spaceSmall-ivanCopy.png");
}
.header-wrap {
	max-width: 1300px;
	margin: 0 auto;
}
header {
	 
	margin: 0 auto;
	min-height: 150px;
	 
	position: relative;
}
 .navbar {
 	background: none;
 	min-height: 130px;
 	margin-bottom: 0;
 	border: 0;

 }
 .navbar-header>a>img {
 	max-width: 320px;

 }
 .navbar-collapse{
 	margin-top: 110px;
 }


 @media (max-width: 435px) {
	 
  .navbar-header>a>img {
	width: 200px;
 	padding: 20px;
 	margin-top: 0;
 	float: left;

 }
 .navbar-toggle { 
	margin: 20px auto;
 }
 .navbar-toggle{
 	background: url("png-test/button-menu-resp.png");
 	 
 }
}

.navbar-default .navbar-nav > li > a {
background: rgba(255,255,0,0.3);
border-radius: 10px; 
margin-right: 20px;
}
.navbar-toggle{
	background: rgba(255,255,0,0);
}



/*CONTENT.HTML 
=====================================*/
@font-face {
  font-family: Starjout;
  src: url("../fonts/Starjedi.ttf");
 }
  

body {
	background:url("../img/spaceSmall-ivanCopy.png");
}
 
a{
	text-decoration: none;
}
.wrap {
	border-top: 1px solid rgb(255,255,0);
	max-width: 1300px;
	min-height: 200px;
	margin: 20px auto;
	padding: 10px;
	position: relative;
	padding-top: 50px;
	 
}
.aside-left {
	min-height: 100px; 
	width: 20%;
	 float: left;
	 margin: 0 10px;

}
.content {
	min-height: 100px;
	background: rgba(255,255,255, 0.3);
	border-radius: 20px; 
	width: 70%;
	margin:  0 10px;
	float: left;
}
.content p,h2 { 
	color: white;
	padding: 70px;
	padding-bottom: 20px;
	font-family: Starjout; 
	color: #999900;
	 
}

.subMenu {
	background: rgba(255,255,0,0.3);
	height: auto;
	width: 100%;
	border-radius: 20px; 
}

.subMenu > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.subMenu > ul > li {
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 10px 20px; 
}

.subMenu > ul:first-child {
 	padding-top:  20px;
}

.subMenu > ul:last-child {
 	padding-bottom:  20px;
}

.subMenu > ul > li> a {
	font-family: Starjout; 
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: black;
}

 .subMenu > ul > li:hover {
	background: rgba(255,255,0,0.6);
}
.content > img {
	width: 200px;
	height: 200px;
	float: right;
	padding: 30px;

}
@media (max-width: 860px){
.subMenu > ul > li {
	display: inline-block;
}

.aside-left {
	min-height: 100px; 
	width: 100%;
	 float: left;
	 margin: 0 auto;

}
.content {
	width: 100%;
	margin: 10px auto;
}
}